.input {
  height: 1.5rem;
  padding: 0.5rem 1rem;

  border-radius: var(--radius-sm);
  border: none;
  outline: none;
  box-shadow: var(--shadow-sm);
}

.input:focus {
  box-shadow: var(--shadow-md);
}

.input::placeholder {
  color: var(--color-ligthgray);
}
