.form {
  position:relative;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}

.close{
position: absolute;
right: -1.25rem;
top: -1.25rem;
color: white;}

.close:hover{
color: var(--color-black);
}

.row {
  display: flex;
  justify-content:space-between;
}

.row ~ .row {
  margin-top: 1.5rem;
}

.inputTextAsyncClassName{
width: 40%;
padding-right: 1.5rem;
margin: 0rem 0.625rem;}

.active {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
